div,
nav,
header {
  box-sizing: border-box;
}

h1, h2, h3, p, span, div, label, a, button {
  font-family: "Poppins", sans-serif;
  color: #222333;
  font-weight: 400;
  text-decoration: none;
  line-height: 32px;
  font-size: 16px;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
}
@media (max-width: 800px) {
  h1,
  .h1 {
    font-size: 28px;
    line-height: 44px;
  }
}

h2, .h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
}
@media (max-width: 800px) {
  h2, .h2 {
    font-size: 24px;
    line-height: 36px;
  }
}

h3,
.h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

label .label {
  font-size: 14px;
  line-height: 20px;
}

b {
  font-weight: 700;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #EAEAEA;
  color: #222333;
  text-decoration: none;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;
}
.btn:hover, .btn:focus {
  background-color: #B2B2B2;
}

.page-wrapper {
  display: flex;
}

body {
  background-color: transparent;
}

main {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  margin-left: 300px;
}
@media (max-width: 1000px) {
  main {
    margin-left: 0;
  }
}

.page-content {
  padding: 48px 64px 80px;
  background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .page-content {
    padding: 48px 32px 80px;
  }
}
@media (max-width: 800px) {
  .page-content {
    padding: 24px 24px 80px;
  }
}

.desktop-nav {
  background-color: #222333;
  background: radial-gradient(265.89% 96.22% at 0% 0%, #303147 0%, #0C0C12 100%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  width: 300px;
  height: 100vh;
  position: fixed;
}
@media (max-width: 1000px) {
  .desktop-nav {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.desktop-nav .logo-link {
  padding: 48px 32px 32px 40px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.desktop-nav .nav-links {
  width: 100%;
}
.desktop-nav .nav-link {
  font-size: 18px;
  line-height: 28px;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  color: #8C8C8C;
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;
  padding: 16px 32px;
}
.desktop-nav .nav-link:hover, .desktop-nav .nav-link:focus {
  text-decoration: underline;
}
.desktop-nav .nav-link.active-parent {
  color: #ffffff;
}
.desktop-nav .nav-link.active {
  color: #ffffff;
}
.desktop-nav .nav-link.active::after {
  content: "";
  background-color: #ffffff;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
}
.desktop-nav .nav-link.indent {
  padding: 8px 32px 8px 40px;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #222333;
  display: none;
  visibility: hidden;
  pointer-events: none;
  width: 100vw;
  grid-auto-flow: column;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  z-index: 2;
}
@media (max-width: 1000px) {
  .mobile-nav {
    display: grid;
    visibility: visible;
    pointer-events: auto;
  }
}
.mobile-nav.open {
  bottom: 137px;
}
.mobile-nav .nav-link {
  font-size: 18px;
  line-height: 28px;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  color: #8C8C8C;
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;
  padding: 16px 32px;
  text-align: center;
}
@media (max-width: 600px) {
  .mobile-nav .nav-link:nth-child(4), .mobile-nav .nav-link:nth-child(5) {
    display: none;
  }
}
@media (max-width: 400px) {
  .mobile-nav .nav-link:nth-child(3) {
    display: none;
  }
}
.mobile-nav .nav-link:hover, .mobile-nav .nav-link:focus {
  text-decoration: underline;
}
.mobile-nav .nav-link.active-parent {
  color: #ffffff;
}
.mobile-nav .nav-link.active {
  color: #ffffff;
}
.mobile-nav .nav-link.my-work-dd-toggle.open svg {
  transform: rotate(180deg);
}
@media (max-width: 800px) {
  .mobile-nav .nav-link {
    padding: 16px 16px;
  }
}
.mobile-nav .nav-link svg {
  transform: translateY(3px);
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
}

.my-work-dd {
  flex-direction: column;
  background-color: #222333;
  position: fixed;
  bottom: -140px;
  left: 0;
  width: 100vw;
  border-top: 1px solid #8C8C8C;
  padding: 16px 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  z-index: 2;
}
@media (max-width: 1000px) {
  .my-work-dd {
    display: flex;
    visibility: visible;
    pointer-events: auto;
  }
}
.my-work-dd.open {
  bottom: 0;
}
.my-work-dd .nav-link {
  color: #8C8C8C;
  padding: 12px 32px;
  font-size: 18px;
  line-height: 28px;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.my-work-dd .nav-link:hover, .my-work-dd .nav-link:focus {
  text-decoration: underline;
}
.my-work-dd .nav-link.active-parent {
  color: #ffffff;
}
.my-work-dd .nav-link.active {
  color: #ffffff;
}

.dd-scrim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  visibility: hidden;
  display: none;
  pointer-events: none;
  z-index: 1;
}
.dd-scrim.open {
  visibility: visible;
  display: block;
  pointer-events: auto;
}

footer {
  background-color: #222333;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 16px 32px;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  footer {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
footer p {
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.my-work {
  max-width: 700px;
}
@media (max-width: 800px) {
  .my-work {
    max-width: 100%;
  }
}
.my-work h2 {
  margin-bottom: 24px;
}
.my-work .work-links {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
@media (max-width: 800px) {
  .my-work .work-links {
    flex-direction: column;
  }
}
.my-work .work-links .work {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 16px;
  overflow: hidden;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
  position: relative;
  z-index: 1;
  overflow: visible;
}
.my-work .work-links .work:hover, .my-work .work-links .work:focus {
  transform: translateX(8px) translateY(-8px);
  outline: #fff 3px;
}
.my-work .work-links .work:hover:after, .my-work .work-links .work:focus:after {
  transform: translateX(-16px) translateY(16px);
}
.my-work .work-links .work:hover .text-wrapper, .my-work .work-links .work:focus .text-wrapper {
  background-color: #3B3B3B;
}
.my-work .work-links .work:after {
  content: "";
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.my-work .work-links .work img {
  width: 100%;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.my-work .work-links .work .text-wrapper {
  background-color: #222333;
  box-sizing: border-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: all 350ms cubic-bezier(0.475, 0.425, 0, 0.995);
}
.my-work .work-links .work .text-wrapper p {
  color: #ffffff;
  padding: 16px 24px;
  font-weight: 500;
}

.home .banner h1 {
  margin-bottom: 16px;
}
.home .banner .btn-wrapper {
  gap: 16px;
  margin: 24px 0 64px;
  flex-wrap: wrap;
}
.home .banner p {
  max-width: 700px;
  width: 100%;
}

.about-me .banner img {
  width: 100%;
  display: block;
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .about-me .banner img {
    display: none;
  }
}
.about-me .banner img.mobile-hero {
  display: none;
}
@media (max-width: 800px) {
  .about-me .banner img.mobile-hero {
    display: block;
  }
}
.about-me .banner h1 {
  margin-bottom: 32px;
}

.summary-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 32px;
}
.summary-wrapper .summary-row {
  display: flex;
  gap: 32px;
}
.summary-wrapper .summary-row .col {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}
.summary-wrapper .summary-row .col ul {
  list-style: disc;
  margin-left: 16px;
}

.case-study .banner img {
  width: 100%;
  display: block;
  margin-bottom: 48px;
}
@media (max-width: 800px) {
  .case-study .banner img {
    display: none;
  }
}
.case-study .banner img.mobile-hero {
  display: none;
}
@media (max-width: 800px) {
  .case-study .banner img.mobile-hero {
    display: block;
  }
}
.case-study .banner h1 {
  margin-bottom: 32px;
  max-width: 700px;
}
.case-study section h3 {
  margin-bottom: 16px;
}
.case-study .summary-wrapper {
  margin-bottom: 128px;
}
.case-study section {
  margin: 120px 0;
}
.case-study section h2 {
  max-width: 700px;
  margin-bottom: 24px;
}
.case-study section p, .case-study section ul, .case-study section ol {
  max-width: 700px;
}
.case-study section img {
  width: 100%;
  margin: 48px 0 8px;
  border-radius: 16px;
  border: 1px solid #222333;
}
@media (max-width: 800px) {
  .case-study section img {
    border-radius: 8px;
  }
}
.case-study section span {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  color: #8C8C8C;
}
.case-study section ul {
  list-style: disc;
  margin-left: 16px;
  margin-bottom: 24px;
}
.case-study section ul li {
  margin-bottom: 12px;
}
.case-study section ol {
  list-style: decimal;
  margin-left: 16px;
  margin-bottom: 24px;
}
.case-study section ol li {
  margin-bottom: 12px;
  padding-left: 8px;
}/*# sourceMappingURL=styles.css.map */