// Colors
$gray: #757575;

// Shadow
$shadow-soft: 0px 2.56px 15.36px rgba(0, 0, 0, 0.11);

// Easing
$transition: all 350ms cubic-bezier(.475, .425, 0, .995);
$easing: cubic-bezier(.475, .425, 0, .995);

//Sizing

$side-padding: 64px;
$tablet-side-padding: 32px;
$mobile-side-padding: 24px;
$max-width: 750px;

div,
nav,
header {
  box-sizing: border-box;
}

// Fonts

h1, h2, h3, p, span, div, label, a, button {
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  line-height: 28px;
  font-size: 16px;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;

  @media (max-width: 800px) {
    font-size: 36px;
    line-height: 44px;
  }
}

h2, .h2{
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;

  @media (max-width: 800px) {
    font-size: 28px;
    line-height: 42px;
  }
}

h3,
.h3 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
}

label .label{
  font-size: 14px;
  line-height: 20px;
}

// Buttons

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn{
  background-color: #EAEAEA;
  color: #000000;
  text-decoration: none;
  transition: $transition;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  border-radius: 8px;

  &:hover, &:focus{
    background-color: #B2B2B2;
  }
}

//PAGE WRAPPER

.page-wrapper{
  display: flex;
}

body{
  background-color: transparent;
}

main{
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  margin-left: 300px;

  @media (max-width: 1000px) {
    margin-left: 0;
  }
}

.page-content{
  padding: 48px $side-padding 80px;
  background-color: transparent;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    padding: 48px $tablet-side-padding 80px;
  }

  @media (max-width: 800px) {
    padding: 48px $mobile-side-padding 80px;
  }
}

// NAV

.desktop-nav{
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  width: 300px;
  height: 100vh;
  position: fixed;

  @media (max-width: 1000px) {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  .logo-link{
    padding: 48px 32px 32px 40px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  
  .nav-links{
    width: 100%;
  }
  
  .nav-link{
    font-size: 18px;
    line-height: 28px;
    transition: $transition;
    color: $gray;
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    padding: 16px 32px;
  
    &:hover, &:focus{
      text-decoration: underline;
    }

    &.active-parent{
      color: #ffffff;
    }
  
    &.active{
      color: #ffffff;
  
      &::after{
        content: "";
        background-color: #ffffff;
        width: 16px;
        height: 2px;
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
      }
    }
  
    &.indent{
      padding: 8px 32px 8px 40px;
    }
  }
}

// MOBILE NAV

.mobile-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #000000;
  display: none;
  visibility: hidden;
  pointer-events: none;
  width: 100vw;
  grid-auto-flow: column;
  transition: $transition;
  z-index: 2;

  @media (max-width: 1000px) {
    display: grid;
    visibility: visible;
    pointer-events: auto;
  }

  &.open{
    bottom: 137px;
  }

  .nav-link{
    font-size: 18px;
    line-height: 28px;
    transition: $transition;
    color: $gray;
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
    padding: 16px 32px;
    text-align: center;

    &:nth-child(4), &:nth-child(5){
      @media (max-width: 600px) {
        display: none;
      }
    }

    &:nth-child(3) {
      @media (max-width: 400px) {
        display: none;
      }
    }

    &:hover, &:focus{
      text-decoration: underline;
    }

    &.active-parent{
      color: #ffffff;
    }
  
    &.active{
      color: #ffffff;
    }

    &.my-work-dd-toggle{
     &.open{
      svg{
        transform: rotate(180deg);
      }
     }
    }

    @media (max-width: 800px) {
      padding: 16px 16px;
    }

    svg{
      transform: translateY(3px);
      transition: $transition;
    }
  }
}

// MY WORK NAV

.my-work-dd{
  flex-direction: column;
  background-color: #000000;
  position: fixed;
  bottom: -140px;
  left: 0;
  width: 100vw;
  border-top: 1px solid $gray;
  padding: 16px 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
  transition: $transition;
  z-index: 2;

  @media (max-width: 1000px) {
    display: flex;
    visibility: visible;
    pointer-events: auto;
  }

  &.open{
    bottom: 0;
  }

  .nav-link{
    color: $gray;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 28px;
    transition: $transition;

    

    &:hover, &:focus{
      text-decoration: underline;
    }

    &.active-parent{
      color: #ffffff;
    }
  
    &.active{
      color: #ffffff;
    }
  }
}

.dd-scrim{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  visibility: hidden;
  display: none;
  pointer-events: none;
  z-index: 1;

  &.open{
    visibility: visible;
    display: block;
    pointer-events: auto;
  }
}

// FOOTER

footer{
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 16px 32px;
  box-sizing: border-box;
  
  @media (max-width: 1000px) {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }

  p{
    color: #ffffff;
    text-align: center;
    width: 100%;
  }
}

// MY WORK

.my-work{
  max-width: $max-width;

  @media (max-width: 800px) {
    max-width: 100%;
  }
  
  h2{
    margin-bottom: 24px;
  }

  .work-links{
    display: flex;
    gap: 24px;
    flex-direction: column;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .work{
      display: flex;
      flex-direction: column;
      flex: 1;
      border-radius: 16px;
      overflow: hidden;
      transition: $transition;
      position: relative;
      z-index: 1;
      overflow: visible;

      &:hover, &:focus {
        transform: translateX(8px) translateY(-8px);
        outline: #fff 3px;
        &:after{
          transform: translateX(-16px) translateY(16px);
        }

        .text-wrapper{
          background-color: #3B3B3B;
        }
      }

      &:after{
        content: "";
        background-color: #000;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        transition: $transition;
      }

      img{
        width: 100%;
        display: block;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
      .text-wrapper{
        background-color: #000000;
        box-sizing: border-box;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        transition: $transition;

        p{
          color: #ffffff;
          padding: 16px 24px;
          font-weight: 500;
        }
      }
    }
  }
}

// HOME

.home{
  .banner{
    h1{
      margin-bottom: 16px;
    }
    .btn-wrapper{
      gap: 16px;
      margin: 24px 0 64px;
      flex-wrap: wrap;
    }
    p{
      max-width: $max-width;
      width: 100%;
    }
  }
}

// ABOUT ME

.about-me{
  .banner{
    img{
      width: 100%;
      display: block;
      margin-bottom: 32px;

      @media (max-width: 800px) {
        display: none;
      }

      &.mobile-hero{
        display: none;

        @media (max-width: 800px) {
          display: block;
        }
      }
    }

    h1{
      margin-bottom: 32px;
    }
  }
}

// SUMMARY ROW

.summary-wrapper{
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  gap: 32px;

  .summary-row{
    display: flex;
    gap: 32px;
    

    .col{
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;

      ul{
        list-style: disc;
        margin-left: 16px;
      }
    }
  }
}

// CASE STUDY

.case-study{
  .banner{
    img{
      width: 100%;
      display: block;
      margin-bottom: 48px;

      @media (max-width: 800px) {
        display: none;
      }

      &.mobile-hero{
        display: none;

        @media (max-width: 800px) {
          display: block;
        }
      }
    }

    h1{
      margin-bottom: 32px;
      max-width: $max-width;
    }
  }

  .summary-wrapper{
    margin-bottom: 128px;
  }

  section{
    margin: 120px 0;
    h2{
      max-width: $max-width;
      margin-bottom: 24px;
    }

    p{
      max-width: $max-width;
    }
    
    img{
      width: 100%;
      margin: 48px 0 8px;
      border-radius: 16px;
      border: 1px solid #000000;

      @media (max-width: 800px) {
        border-radius: 8px;
      }
    }

    span{
      padding: 0;
      margin: 0 auto;
      text-align: center;
      width: 100%;
      display: block;
      color: #757575;
    }

    ul{
      list-style: disc;
      margin-left: 16px;
    }
  }
}