nav
  a(href="/")
    img(src="../assets/logo.svg" alt="logo")
  button#menu-toggle
    span.top
    span.bottom
button#close-menu
  .one
  .two
#menu
  .menu-section
    h2 Work
    a(href="/kyper") Kyper Design System
    a(href="/flipflops") FlipFlops
    a(href="/mx-client-portal") MX Client Portal
  .menu-section
    h2 Contact
    a(href="tel:9197102117") 919-710-2117
    a(href="mailto:brianrclay@gmail.com") brianrclay@gmail.com
    a(href="https://www.linkedin.com/in/brian-clay-12058867/" target="_blank") Linkedin
    a(href="https://dribbble.com/brianrclay" target="_blank") Dribbble